<html>
    <head>
    {# Load the tag library #}
    {% load bootstrap4 %}
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <h1>Meal</h1>
            </div>
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Unit</th>
                        <th>Quantity</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                {% for meal_ingredient in request.session.meal_ingredients %}
                <tr>
                    <td>{{ meal_ingredient.ingredient.name }}</td>
                    <td>{{ meal_ingredient.ingredient_unit.unit }}</td>
                    <td>{{ meal_ingredient.quantity }}</td>
                    <td>
                        <a href="{% url 'meal.delete' forloop.counter %}">Delete</a>
                        <a href="{% url 'meal.update' forloop.counter %}">Update</a>
                    </td>    
                </tr>
                {% endfor %}
            </table>
            <a href="{% url 'meal.add' %}" class="btn btn-primary">Add ingredient</a>
            <a href="{% url 'new' %}" class="btn">Cancel</a>
        </div>
    </body>
</html>