<html>
    <head>
    {# Load the tag library #}
    {% load bootstrap4 %}
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <h1>Ingredients</h1>            
            </div>
            <form action="" method="post">
                {% csrf_token %}
                {{ formset.management_form }}
                {{ formset.errors }}
                {{ formset.non_field_errors }}
                {{ formset.non_form_errors }}
                {% for error in formset.errors %}
                {{ error }}<br/>
                {% endfor %}
                {% if record.id %}
                <input type="hidden" value="{{record.id}}" name="id">
                {% endif %}                
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Insulin shot</th>
                            <th>Glucose level</th>
                            <th>Bread units</th>
                            <th>Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input class="form-control input-sm" name="insulin_amount" id="insulin_amount" type="number" value="{{record.insulin_amount}}"></td>
                            <td><input class="form-control input-sm" name="glucose_level" type="number" value="{{record.glucose_level}}"></td>
                            <td><input class="form-control input-sm" name="glucose_level" type="number" value="{{record.bread_units}}"></td>
                            <td><textarea name="notes" class="form-control input-sm">{{record.notes}}</textarea></td>
                        </tr>  
                    </tbody>
                </table>
                <input type="submit" value="Save" class="btn btn-primary">
                <input type="submit" value="Cancel" name="cancel" class="btn btn-basic"> 
            </form>                
        </div>
    </body>
</html>
