{% extends 'base.html' %}
{% block content %}
{% load i18n %}
<div class="page-header">
    <h1>{% trans "Ingredients" %}</h1>      
</div>
<table class="table table-condensed">
    <thead>
        <tr>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Actions" %}</th>
        </tr>
    </thead>
    {% for ingredient in list %}
    <tr>
        <td>{% trans ingredient.name %}</td>
        <td>
            {% if ingredient.user is not None %}
            <a href="{% url 'ingredients:delete' ingredient.id %}">{% trans "Delete" %}</a>
            <a href="{% url 'ingredients:details' ingredient.id %}">{% trans "Update" %}</a>
            {% endif %}
        </td>    
    </tr>
    {% endfor %}
</table>
<a href="{% url 'ingredients:create' %}" class="btn btn-primary">{% trans "Add ingedient" %}</a>
<a href="{% url 'ingredients:fetch' %}" class="btn btn-primary">{% trans "Import ingredient" %}</a>
<a href="{% url 'ingredients:cook' %}" class="btn btn-primary">{% trans "Cook" %}</a>
<br>
</div>
{% endblock %}