{% extends 'base.html' %}
{% block content %}
{% load i18n %}
<div class="page-header">
    <h1>{% trans "Ingredients" %}</h1>      
</div>
<div>
{% for letter in letters %}
  <a href="{% url 'ingredients:letter' letter %}">{{ letter }}</a>&nbsp;
{% endfor %}
</div>
<br>
<table class="table table-condensed">
    <thead>
        <tr>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Actions" %}</th>
        </tr>
    </thead>
    {% for ingredient in list %}
    <tr>
        <td>{% trans ingredient.name %}</td>
        <td>
            {% if ingredient.user is not None %}
            <a href="{% url 'ingredients:delete' ingredient.id %}">{% trans "Delete" %}</a>
            {% endif %}
            <a href="{% url 'ingredients:details' ingredient.id %}">{% trans "Update" %}</a>
          </td>    
    </tr>
    {% endfor %}
</table>
<nav aria-label="Page navigation example">
    {% if list.has_other_pages %}
    <ul class="pagination">
      {% if list.has_previous %}
        <li class="page-item"><a  class="page-link" href="?page={{ list.previous_page_number }}">{% trans "Previous" %}</a></li>
      {% endif %}
      {% for i in list.paginator.page_range %}
        {% if list.number == i %}
          <li class="page-item"><a  class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
      {% endfor %}
      {% if list.has_next %}
        <li class="page-item"><a  class="page-link" href="?page={{ list.next_page_number }}">{% trans "Next" %}</a></li>
      {% endif %}
    </ul>
  {% endif %}
  </nav>
<a href="{% url 'ingredients:create' %}" class="btn btn-primary">{% trans "Add ingedient" %}</a>
<a href="{% url 'ingredients:fetch' %}" class="btn btn-primary">{% trans "Import ingredient" %}</a>
<a href="{% url 'ingredients:cook' %}" class="btn btn-primary">{% trans "Cook" %}</a>
<br>
</div>
{% endblock %}