{% extends 'base.html' %}

{% block content %}
{% load i18n %}
<div class="container">
    <div class="page-header">
        <h1>{% trans "Meals" %}</h1>
    </div>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>{% trans "Ingredient" %}</th>
                <th>{% trans "Actions" %}</th>
            </tr>
        </thead>
        {% for meal in meals %}
        <tr>
            <td>{% trans meal.ingredient_unit.ingredient.name %}, {% trans meal.ingredient_unit.unit.name %}, {{meal.quantity}}</td>
            <td>
                <a href="{% url 'records:meals_delete' pk meal.id %}">{% trans "Delete" %}</a>
                <a href="{% url 'records:meals_details' pk meal.id %}">{% trans "Update" %}</a>
            </td>    
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'records:meals_create' pk %}" class="btn btn-primary">{% trans "Add meals" %}</a>
    <a href="{% url 'records:recent' pk %}" class="btn btn-primary">{% trans "Import recent" %}</a>    
    <a href="{% url 'records:details' pk %}" class="btn btn-primary">{% trans "Done" %}</a>
    <br><br><br>
    <h2>{% trans "Add from category" %}</h2>
    <ul>
        <li>One</li>
        <li>Two</li>
        <li>Three</li>
        <li>Four</li>
    </ul>
</div>
{% endblock %}