{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>{% trans "Meals" %}</h1>
    </div>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>{% trans "Meal" %}</th>
                <th>{% trans "Actions" %}</th>
            </tr>
        </thead>
        {% for meal in meals %}
        <tr>
            <td>{{ meal }}</td>
            <td>
                <a href="{% url 'records:meals_delete' pk meal.id %}">{% trans "Delete" %}</a>
                <a href="{% url 'records:meals_details' pk meal.id %}">{% trans "Update" %}</a>
            </td>    
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'records:meals_create' pk %}" class="btn btn-primary">{% trans "Add meal" %}</a>
    <a href="{% url 'records:recent' pk %}" class="btn btn-primary">{% trans "Import recent" %}</a>    
    <a href="{% url 'records:details' pk %}" class="btn btn-primary">{% trans "Done" %}</a>
</div>
{% endblock %}