<html>
<head>
{# Load the tag library #}
{% load bootstrap4 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>Ingredients</h1>            
        </div>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Ingredient</th>
                    <th>Unit</th>
                    <th>Quantity</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            {% for meal_ingedient in request.session.meal_ingredients %}
            <tr>
                <td>{{ meal_ingedient.ingredient_unit.ingredient }}</td>
                <td>{{ meal_ingedient.ingredient_unit.unit }}</td>
                <td>{{ meal_ingedient.ingredient_units }}</td>
                <td><a href="/mealingredient/delete?index={{ forloop.counter }}">Delete</a></td>    
            </tr>
            {% endfor %}
        </table>
        <a href="/mealingredient/add" class="btn btn-primary">Add ingredient</a>
    </div>
</body>
</html>