{% extends 'base.html' %}

{% block content %}
{% load i18n %}
<div class="container">
    <div class="page-header">
        <h1>{% trans "Meals" %}</h1>
    </div>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>{% trans "Ingredient" %}</th>
                <th>{% trans "Actions" %}</th>
            </tr>
        </thead>
        {% for meal in meals %}
        <tr>
            <td>{% trans meal.ingredient_unit.ingredient.name %}, {% trans meal.ingredient_unit.unit.name %}, {{meal.quantity}}</td>
            <td>
                <a href="{% url 'records:meals_delete' pk meal.id %}">{% trans "Delete" %}</a>
                <!-- <a href="{% url 'records:meals_details' pk meal.id %}">{% trans "Update" %}</a> -->
            </td>    
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'records:recent' pk %}" class="btn btn-primary">{% trans "Import recent" %}</a>    
    <a href="{% url 'records:meals_create' pk 0 %}" class="btn btn-primary">{% trans "All categories" %}</a>
    {% for type in types %}
    <a href="{% url 'records:meals_create' pk type.id %}" class="btn btn-primary">{{type.name}}</a>
    {% endfor %}
    <br><br>
        <a href="{% url 'records:details' pk %}" class="btn btn-primary">{% trans "Done" %}</a>
    </div>
{% endblock %}