{% extends 'base.html' %}

{% block content %}
{% load i18n %}
{% load tz %}
<div class="container">
    <div class="row">
        <div class="col-8">
            <h1>{% trans "Records" %}</h1>      
        </div>
        <div class="col-4">
            <a href="{% url 'records:create' 0 %}" class="btn btn-primary">{% trans "Add record" %}</a>
            <a href="{% url 'records:create' 1 %}" class="btn btn-primary">{% trans "Add prolongated" %}</a>            
        </div>
    </div>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th class="small">{% trans "Time" %}</th>
                <th class="small">{% trans "Insulin shot" %}</th>
                <th class="small">{% trans "Glucose level" %}</th>
                <th class="small">{% trans "Bread units" %}</th>
                <th class="small">{% trans "Pictore" %}</th>
                <th class="small">&nbsp;</th>                    
            </tr>
        </thead>
        {% for record in records %}
          {% if record.type == 0 %}
          <tr>
            <!-- todo: replace hardcoded locale with client's -->
            <td rowspan="2">{{ record.time | timezone:"Europe/Moscow" | date:'M d, H:i'}}</td>
            <td>{{ record.insulin_amount }} {{record.insulin.name}}</td>
            <td>{{ record.glucose_level }}</td>
            <td>{{ record.bread_units }}</td>
            <td rowspan="2">
              {% for photo in record.photos.all %}
              <img  width="100px" height="100px" src="data:image/jpg;base64,{{ photo.data }}">
              {% endfor %}
            </td>
            <td rowspan="2">
                <a class="btn btn-sm btn-danger" href="{% url 'records:delete' record.pk %}">{% trans "Delete" %}</a>&nbsp;&nbsp;
                <a class="btn btn-sm btn-primary" href="{% url 'records:details' record.pk %}">{% trans "Details" %}</a>
            </td>    
          </tr>        
          <tr>
            <td colspan=3 class="small">{{ record.notes }}&nbsp;</td>
          </tr>
          {% else %}
          <tr>
            <td rowspan="2">{{ record.time | timezone:"Europe/Moscow" | date:'M d, H:i'}}</td>
            <td colspan=4>{{ record.insulin_amount }} {{record.insulin.name}}</td>
            <td rowspan="2">
              <a class="btn btn-sm btn-danger" href="{% url 'records:delete' record.pk %}">{% trans "Delete" %}</a>&nbsp;&nbsp;
              <a class="btn btn-sm btn-primary" href="{% url 'records:details' record.pk %}">{% trans "Details" %}</a>
            </td>                      
          </tr>
          <tr>
            <td colspan=4 class="small">{{record.notes}}</td>
          </tr>            
          {% endif %}
        {% endfor %}
    </table>
    <nav aria-label="Page navigation example">
        {% if records.has_other_pages %}
        <ul class="pagination">
          {% if records.has_previous %}
            <li class="page-item"><a  class="page-link" href="?page={{ records.previous_page_number }}">{% trans "Previous" %}</a></li>
          {% endif %}
          {% for i in records.paginator.page_range %}
            {% if records.number == i %}
              <li class="page-item"><a  class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}
          {% if records.has_next %}
            <li class="page-item"><a  class="page-link" href="?page={{ records.next_page_number }}">{% trans "Next" %}</a></li>
          {% endif %}
        </ul>
      {% endif %}
      </nav>
</div>
{% endblock %}

<li class="page-item"><a class="page-link" href="#">Previous</a></li>
<li class="page-item"><a class="page-link" href="#">1</a></li>
<li class="page-item"><a class="page-link" href="#">2</a></li>
<li class="page-item"><a class="page-link" href="#">3</a></li>
<li class="page-item"><a class="page-link" href="#">Next</a></li>