{% extends 'base.html' %}
{% block content %}
{% load i18n %}

<div class="container">
    <table class="table">
    <form method="post">
        {% csrf_token %}                
        <tr>
            {% if request.user.show_rapid_insulin or request.user.show_long_insulin %}
                <th>{{request.user.rapid_acting_insulin.name}} {% trans "shot, units" %}</th>
            {% endif %}
            {% if request.user.show_sugar %}
                <th>{% trans "Glucose level" %}, {{request.user.glucose_level_unit.name}}</th>
            {% endif %}
            {% if request.user.show_bread_units %}
                <th>{% trans "Bread units" %}</th>
            {% endif %}
            {% if request.user.show_calories %}
                <th>{% trans "Calories" %}, kkal</th>
            {% endif %}            
            <th>{% trans "Meals" %}</th>
        </tr>
        <tr>
            {% if request.user.show_rapid_insulin or request.user.show_long_insulin %}
                <td>{{form.insulin_amount}}</td>
            {% endif %}
            {% if request.user.show_sugar %}
                <td>{{form.glucose_level}}</td>            
            {% endif %}
            {% if request.user.show_bread_units %}
                <td>{{form.bread_units}}</td>
            {% endif %}
            {% if request.user.show_calories %}
                <td>{{form.calories}}</td>
            {% endif %}
            <td>
                {% if meals %}
                    {% for meal in meals %}
                        {% trans meal.ingredient_unit.ingredient.name %}, {% trans meal.ingredient_unit.unit.name %}, {{meal.quantity}} <br>
                    {% endfor %}
                {% endif %}
                {% if form.instance.id %}
                <a href="{% url 'records:meals' form.instance.id %}" class="btn btn-primary btn-sm">{% trans "Add meals" %}</a>&nbsp;
                <a href="{% url 'records:photo' form.instance.id %}" class="btn btn-primary btn-sm">{% trans "Photo" %}</a>                
                {% endif %}
            </td>                        
        </tr>
    </table>
    <table class="table">
        <tr>
            <th width="50%">{% trans "Notes" %}</th>
            <th width="50%">{% trans "Photos" %}</th>
        </tr>
        <tr>
            <td>
                {{form.notes}}
            </td>
            <td>
                {% if photos %}
                    {% for photo in photos %}
                    <a href="{% url 'records:photo_edit' form.instance.id photo.id %}"><img src="data:image/jpg;base64,{{ photo.data }}"></a>&nbsp;
                    {% endfor %}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td colspan=2>
                <input type="submit" value='{% trans "Save" %}' class="btn btn-primary">
                <input type="submit" value='{% trans "Cancel" %}' name="cancel" class="btn btn-basic">         
            </td>
        </tr>
    </form> 
    </table>            
</div>        

{% endblock %}