<html>
<head>
{# Load the tag library #}
{% load bootstrap4 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>Records</h1>
        </div>
{% block content %}

<form action="" method="post">{% csrf_token %}
    <table class="table table-condensed">
        <tr>
            <th>Insulin, {{user.rapid_acting_insulin}}</th>
            <th>Sugar, {{user.sugar_level_unit}}</th>
            <th>Meal</th>
            <th>Notes</th>
        </tr>
        <tr>
            <td><input class="form-control input-sm" name="insulin" id="id_insulin" type="number"></td>
            <td><input class="form-control input-sm" name="sugar" id="id_sugar" type="number"></td>
            <td>{{ request.session.meal }}<a href='/meal/update' class="btn btn-primary">Edit</a></td>            
            <td> <textarea class="form-control" rows="5" id="comment"></textarea></td>            
        </tr>
    </table>
<input type="submit" value="Save"  class="btn btn-primary"/>
</form>


<!-- <form action="" method="post">
    {% csrf_token %}
    <input type="text" name="sugar" required id="id_sugar" class="form-control">
    <input type="text" name="insulin" required id="id_insulin" class="form-control">
    <input type="submit">
</form> -->
{% endblock content %}
</div>
</body>
</html>

