{% extends 'base.html' %}

{% block content %}
{% load i18n %}
{% load tz %}
<div class="container">
    <div class="row justify-content-between">
        <div>
            <h1>{% trans "Records" %}</h1>      
        </div>
        <div>
            <a href="{% url 'records:create' 0 %}" class="btn btn-primary">{% trans "Add record" %}</a>
            {% if request.user.show_rapid_insulin or request.user.show_long_insulin %}
            <a href="{% url 'records:create' 1 %}" class="btn btn-primary">{% trans "Add prolongated" %}</a>            
            {% endif %}
          </div>
    </div>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th class="small">{% trans "Time" %}</th>
                {%  if request.user.show_rapid_insulin or request.user.show_long_insulin %} 
                  <th class="small">{% trans "Shot" %}</th>
                {% endif %}
                {%  if request.user.show_sugar %} 
                  <th class="small">{% trans "Glucose level" %}</th> 
                {% endif %}
                {%  if request.user.show_bread_unit %} 
                  <th class="small">{% trans "Bread units" %}...</th>
                {% endif %}

                {%  if request.user.show_calories %} 
                  <th class="small">{% trans "Calories" %}</th>
                {% endif %}
                {%  if request.user.show_calories_today %} 
                  <th class="small">{% trans "Calories today" %}</th>
                {% endif %}
                <th class="small">{% trans "Picture" %}</th>
                <th class="small">{% trans "Notes" %}</th>                    
                <th class="small">&nbsp;</th>    
            </tr>
        </thead>
        {% for record in records %}
          <tr>
            <td>{{ record.time | timezone:"Europe/Moscow" | date:'M d, H:i'}}</td>
            {%  if request.user.show_rapid_insulin or request.user.show_long_insulin %} 
              <td>{{ record.insulin_amount }} {{record.insulin.name}}</td>
            {% endif %}
            {%  if request.user.show_sugar %} 
              <td>{{ record.glucose_level }}</td>
            {% endif %}
            {%  if request.user.show_bread_units %} 
              <td>{{ record.bread_units }}000</td>
            {% endif %}

            {%  if request.user.show_calories %} 
              <td>{{ record.calories }}</td>
            {% endif %} 
            {%  if request.user.show_calories_today %} 
              <td>{{ record.get_calories_today }}</td>
            {% endif %}
            <td>
              {% for photo in record.photos.all %}
              <img  width="100px" height="100px" src="data:image/jpg;base64,{{ photo.data }}">
              {% endfor %}
            </td>
            <td class="text-wrap text-truncate" style="max-width: 200px;"><small>
              {% for meal in record.get_meals %}
              <b>{{ meal.get_calories | floatformat:0 }} kkal</b>&nbsp;&nbsp;{% trans meal.ingredient_unit.ingredient.name %},{% trans meal.ingredient_unit.unit.name %}&nbsp;&nbsp;{{meal.quantity}}<br/>
              {% endfor %}
            </small></td>            
            <td class="flex-nowrap" style="max-width: 100px;">
                  <a class="btn btn-sm btn-danger" href="{% url 'records:delete' record.pk %}">{% trans "Delete" %}</a>&nbsp;&nbsp;
                  <a class="btn btn-sm btn-primary" href="{% url 'records:details' record.pk %}">{% trans "Details" %}</a>
            </td>    
          </tr>        
        {% endfor %}
    </table>
    <nav>
        {% if records.has_other_pages %}
        <ul class="pagination">
          {% if records.has_previous %}
            <li class="page-item"><a  class="page-link" href="?page={{ records.previous_page_number }}">{% trans "Previous" %}</a></li>
          {% endif %}
          {% for i in records.paginator.page_range %}
            {% if records.number == i %}
              <li class="page-item"><a  class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}
          {% if records.has_next %}
            <li class="page-item"><a  class="page-link" href="?page={{ records.next_page_number }}">{% trans "Next" %}</a></li>
          {% endif %}
        </ul>
      {% endif %}
      </nav>
</div>
{% endblock %}

<li class="page-item"><a class="page-link" href="#">Previous</a></li>
<li class="page-item"><a class="page-link" href="#">1</a></li>
<li class="page-item"><a class="page-link" href="#">2</a></li>
<li class="page-item"><a class="page-link" href="#">3</a></li>
<li class="page-item"><a class="page-link" href="#">Next</a></li>