{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>{% trans "Weight units" %}</h1>
    </div>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>{% trans "Unit" %}</th>
                <th>{% trans "Actions" %}</th>
            </tr>
        </thead>
        {% for unit in units %}
        <tr>
            <td>{{ unit }}</td>
            <td>
                <a href="{% url 'ingredients:unit_delete' unit.id %}">{% trans "Delete" %}</a>
                <a href="{% url 'ingredients:unit_details' unit.id %}">{% trans "Details" %}</a>
            </td>    
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'ingredients:unit_create' %}" class="btn btn-primary">{% trans "Add unit" %}</a>
</div>
{% endblock %}